<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login页面</title>
</head>
<body>
    <table>
        <thead>
           <tr>
              <th>姓名</th>
              <th>性别</th>
              <th>电话</th>
           </tr>
        </thead>
     <tbody>
        <tr th:each="user : ${userEntityList}">
          <td th:text="${user.getName()}">name</td>
          <td th:text="${user.getGender()}">male</td>
          <td th:text="${user.getPhone()}">13812341234</td>
        </tr>
     </tbody>
   </table>
</body>
</html>